//
// Colors
//
$yellow: #FFE500;
$purple: #FF10CB;
$red: #FF0052;
$green: #00DA5B;
$cyan: #00FFF0;

/*
$custom-colors: (

);
*/

//
// Reboot
//
$body-color: #FFF;
$body-bg: #100B2E;

//
// Typography
//
$font-family-sans-serif: 'Cera Pro', 'Oswald', sans-serif;
$headings-font-family: 'Oswald', sans-serif;
// H1
$h1-font-size: 4rem;

$display-font-sizes: (
    1: 5rem,
    2: 4.5rem,
    3: 4rem,
    4: 3.5rem,
    5: 3rem,
    6: 2.5rem
);
$display-font-weight: 500;

//
// Buttons
//
$btn-padding-x: 1.75rem;
$btn-padding-y: .625rem;
$btn-border-radius: .25rem;
$btn-font-family: 'Cera Pro', sans-serif;
$btn-font-size: .875rem;
$btn-line-height: 1.125rem;
$btn-font-weight: 500;

//
// Nav
//
$nav-link-color: #FFF;

//
// Navbar
//
$navbar-brand-margin-end: 0;

$navbar-dark-color: #FFF;
$navbar-dark-hover-color: $yellow;
$navbar-nav-link-padding-x: 1rem;

//
// Carousel
//
$carousel-caption-width: 80%;
$carousel-caption-spacer: 0;

$carousel-control-width: 10%;
$carousel-control-opacity: 0;

$carousel-indicator-width: 3rem;
$carousel-indicator-height: .25rem;
$carousel-indicator-hit-area-height: 0;
$carousel-indicator-spacer: .375rem;
$carousel-indicator-opacity: .2;

//
// Card
//
$card-border-width: 0;
$card-border-radius: .75rem;
$card-height: 100%;
$card-bg: transparent;

//
// Badge
//
$badge-border-radius: .375rem;
