.section__header {

    @media (min-width: 992px) {
        padding-top: 2rem;
        padding-bottom: 4rem;
    }
    @media (max-width: 991.98px) {
        padding-top: calc(56px + 5rem);
        padding-bottom: 3rem;
    }

    .carousel-inner {
        border-radius: 1.5rem;
    }

    .carousel-item {
        // min-height: 500px;
        // max-height: 528px;

        img {
            width: 100%;
            border-radius: 1.5rem;
            -webkit-object-fit: cover;
            object-fit: cover;
            -webkit-object-position: 50% 0;
            object-position: 50% 0;

            @media (min-width: 992px) {
                min-height: 528px;
                height: calc(100vh - 72px - 2rem - 4rem);
                max-height: 640px;
            }
            @media (max-width: 991.98px) {
                height: calc(100vh - 56px - 5rem - 3rem);
                -webkit-object-position: 94% 0;
                object-position: 94% 0;
            }
        }
    }

    .carousel-caption {
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;

        @media (min-width: 992px) {
            width: 33.33%;
        }
    }

    .carousel-indicators {
        margin-bottom: 3rem;

        [data-bs-target] {
            border-radius: .125rem;
        }
    }

    p {
        font-size: 1.125rem;
        line-height: 24px;
        color: #8D89A5;
    }
}