.badge-scrims,
.badge-tour {
    display: inline-flex;
    padding: $badge-padding-y $badge-padding-x;
    // @include font-size($badge-font-size);
    font-size: .875rem;
    // font-weight: $badge-font-weight;
    font-weight: 500;
    line-height: 1;
    color: $badge-color;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    @include border-radius($badge-border-radius);
    // @include gradient-bg();
    // background-image: linear-gradient(0deg, #00C251, #00C251);
    backdrop-filter: blur(32px);

    &:empty {
        display: none;
    }
}

.badge-scrims {
    background-color: $green;

    &:before {
        content: '';
        display: inline-flex;
        margin-right: .25rem;
        padding: 7px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.03999 2.95781C6.25351-.162672 10.273-1.00787 12.6405 1.35963c2.3675 2.3675 1.5223 6.38698-1.5982 7.60051L7.82413 10.2117c-.79848.3105-1.70501.1199-2.31082-.48595l-.20651-.20651-.76694.76696c.00049.0022.00097.0044.00145.0066l.00952.0442c.13372.6206.31938 1.4822.17919 2.2561-.06007.3317-.21869.6495-.47428.9051-.66905.669-1.75391.6691-2.42302 0-.24589-.2459-.40123-.548-.46641-.8645-.31653-.0652-.618602-.2205-.864497-.4664-.669112-.6691-.669056-1.754.000001-2.42304.292792-.2928.666696-.45791 1.049296-.49415.389-.03685.77269.01713 1.0979.0726.08647.01475.16794.02936.24567.04331.23751.04261.44029.07899.64364.09365.04382.00316.09784.00832.15787.01831l.78467-.78468-.20649-.20649c-.6058-.6058-.79642-1.51233-.4859-2.31081l1.25152-3.21819zm6.77461-.77225C10.0434.414438 7.03645 1.04673 6.12861 3.38117L4.8771 6.59935c-.14265.3668-.05508.78324.22321 1.06153l1.23894 1.23894c.27829.27829.69472.36585 1.06152.22321L10.619 7.87151c2.3344-.90783 2.9667-3.91482 1.1956-5.68595zM2.64715 10.5086c.23822.0429.50995.0919.77012.1132.13902.6509.25397 1.2632.16341 1.7631-.01905.1052-.06881.2053-.15087.2874-.21293.2129-.55822.2129-.77116 0-.13372-.1338-.18407-.3196-.14891-.4943l.17334-.8611-.86113.1734c-.17468.0351-.36047-.0152-.4942-.149-.21294-.2129-.21293-.5582 0-.7711.09365-.0937.21141-.1457.33352-.1573.22491-.0213.47875.0079.79137.0612.06141.0105.1266.0222.19451.0345z' fill='%23fff'/%3E%3C/svg%3E");
    }
}

.badge-tour {
    background-color: $teal;

    &:before {
        content: '';
        display: inline-flex;
        margin-right: .25rem;
        padding: 7px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 14' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.11296.660393C3.11296.295668 3.40863 0 3.77335 0h8.45305c.3647 0 .6604.295668.6604.660393V1.69076h.2019c1.3505 0 2.7035 1.11904 2.3403 2.67976-.2846 1.22289-1.026 2.88447-2.9212 3.25191-.6575 1.56609-2.1072 2.71747-3.84774 2.95247v2.1041h1.87584c.3648 0 .6604.2956.6604.6603 0 .3648-.2956.6604-.6604.6604H5.46411c-.36473 0-.6604-.2956-.6604-.6604 0-.3647.29567-.6603.6604-.6603h1.87517v-2.1041c-1.74033-.2352-3.18991-1.38649-3.84733-2.95244C1.59663 7.25507.855159 5.59344.570598 4.37052.207434 2.8098 1.56041 1.69076 2.91088 1.69076h.20208V.660393zM4.43374 2.36647l.00018-.01532-.00018-.01533V1.32079H11.566v1.00993c-.0002.00678-.0003.01359-.0003.02043 0 .00683.0001.01364.0003.02043v3.36063c0 1.96952-1.59662 3.56613-3.56613 3.56613-1.96952 0-3.56613-1.59661-3.56613-3.56613V2.36647zm-1.32078.64507h-.20208c-.76096 0-1.16923.56387-1.05386 1.05965.19864.85369.57321 1.63233 1.2695 2.02781-.00899-.12108-.01356-.2434-.01356-.36679V3.01154zm9.97574 0h-.2019v2.72067c0 .12336-.0046.24565-.0136.36671.6962-.3955 1.0707-1.17409 1.2694-2.02773.1153-.49578-.2929-1.05965-1.0539-1.05965z' fill='%23fff'/%3E%3C/svg%3E");
    }
}