.coins {

    &-win,
    &-chick {
        display: inline-flex;
        align-items: center;

        &:after {
            content: '';
            display: inline-flex;
            align-items: center;
            margin-top: -2px;
            margin-left: .25rem;
            padding: .5rem;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &-win {
        &:after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none'%3E%3Crect width='16' height='16' rx='8' fill='%23FFE500'/%3E%3Cpath d='M9.85621 5.25v.83478h.62749l-.4706 1.51305-.5229 1.66956-.99347-3.18261h.52288V5.25H6.98039v.83478h.52288l-.94118 3.18261-.10457-.31304v-.05218l-.88889-2.81739h.57516V5.25H4v.83478h.52288l.47058 1.51305h-.36601v.7826h.62745l.15686.52174h-.78431v.83479H5.6732L6.19608 11.25h.67974l1.09804-3.65217L9.12418 11.25h.67974l.47058-1.51304h1.098v-.83479h-.7843l.1569-.52174h.6274v-.7826h-.366l.4706-1.51305H12V5.25H9.85621z' fill='%23353153'/%3E%3Crect x='1.5' y='1.5' width='13' height='13' rx='6.5' stroke='%23353153'/%3E%3C/svg%3E");
        }
    }

    &-chick {
        &:after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none'%3E%3Crect width='16' height='16' rx='8' fill='%23FFE500'/%3E%3Cpath d='M9.3125 11.5246l.04044.0602H9.875c.1875 0 .3125-.0602.4375-.1807.125-.1204.1875-.2409.1875-.4216h2.6875c.125 0 .1875-.0602.25-.1204.0625-.1807.125-.3463.1875-.5119.0625-.1656.125-.3313.1875-.51193.0851-.24613.1123-.46432.1407-.69263.0133-.10687.0269-.21597.0468-.33118 0-.12045-.125-.2409-.25-.2409H10.5c0-.18067-.0625-.36135-.1875-.4818-.125-.12044-.3125-.18067-.5-.18067h-1v-.84314h2.625L10.5 6.46571l-.9375-.60225.625-.60224.625-.60224-.75.06022-.75.06022.375-1.02381.375-1.02381.0625-.2409.0625-.2409L10 2.4909l-.1875.18067-.875.72269-.875.7227c.5625.30112.75.90336.5625 1.44538-.125.4818-.625.90337-1.25.90337s-1.0625-.36135-1.25-.84314c-.1875-.4818-.125-1.08404.3125-1.44539-.4375-.06022-1.375-.12045-2.25.2409-.875.36134-1.75 1.02381-2.1875 2.40897l.625-.18067.625-.18067c-.4375.78291-.6875 1.56583-.625 2.40897s.3125 1.62602.75 2.34872l.4375-1.44535.4375-1.44539s0 .36135.1875.78292c.1875.42157.5.84314 1 1.02382-.125-.54202.125-2.22831 1-2.64988.01649.01589.04167.04434.0721.07873.08496.09601.21087.23828.3029.28262-.28345-.03902-.27832.27588-.27355.56799.00258.15875.00506.31078-.03895.3956-.3125.06022-.25.96359 0 1.02381.01731.06673.02024.16117.02339.26283.00822.2655.01798.5803.28911.5803v.6625s0 .1807.25.1807c0 0-.4375.542-.875 1.1442l-.6875.9034c-.0625.1204 0 .3011.125.3613.75.2409 1.5625.3614 2.375.3012.8125 0 1.6875-.1807 2.375-.5421.1875-.0602.1875-.2409.125-.3613l-.5-.7829-.64706-.9636H9.3125v-.0602z' fill='%23353153'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.6875 4.29763c.5-.42157 1.125-.2409 1.4375.12045.3125.36134.4375.96359 0 1.38516-.5625.54202-1.1875.36135-1.5625 0s-.5-1.02382.125-1.50561zm.6875 1.14426c.125 0 .3125-.12045.3125-.30112S7.5 4.83965 7.375 4.83965s-.3125.12045-.3125.30112.125.30112.3125.30112zM9.3125 11.5246l.04044.0602H9.3125v-.0602z' fill='%23353153'/%3E%3Crect x='1.5' y='1.5' width='13' height='13' rx='6.5' stroke='%23353153'/%3E%3C/svg%3E");
        }
    }
}

.info {
    display: inline-flex;
    align-items: center;

    &:after {
        content: '';
        display: inline-flex;
        align-items: center;
        margin-top: -2px;
        margin-left: .5rem;
        padding: .5rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M7.19267 12.5V6.56h1.62v5.94h-1.62zm-.228-8.1c0-.288.1-.528.3-.72.2-.192.444-.288.732-.288s.532.096.732.288c.208.192.312.432.312.72 0 .28-.104.516-.312.708-.2.192-.444.288-.732.288s-.532-.096-.732-.288c-.2-.192-.3-.428-.3-.708z' fill='%238D89A5'/%3E%3Crect x='.5' y='.5' width='15' height='15' rx='7.5' stroke='%238D89A5'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
    }
}

.seats {
    display: inline-flex;
    align-items: center;

    &:before {
        content: '';
        display: inline-flex;
        align-items: center;
        margin-top: -2px;
        margin-right: .5rem;
        padding: .438rem .375rem;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.50038 0C3.86579 0 2.5407 1.32053 2.5407 2.94948c0 1.62896 1.32509 2.94949 2.95968 2.94949 1.63458 0 2.95968-1.32053 2.95968-2.94949C8.46006 1.32053 7.13496 0 5.50038 0zM3.37941 2.94948c0-1.16734.94959-2.113659 2.12097-2.113659 1.17138 0 2.12097.946319 2.12097 2.113659 0 1.16735-.94959 2.11367-2.12097 2.11367-1.17138 0-2.12097-.94632-2.12097-2.11367zM4.82258 6.58209C2.15914 6.58209 0 8.7338 0 11.3881 0 12.8306 1.17345 14 2.62097 14h5.75806C9.82655 14 11 12.8306 11 11.3881c0-2.6543-2.15914-4.80601-4.82258-4.80601H4.82258zM.83871 11.3881c0-2.19269 1.78364-3.97019 3.98387-3.97019h1.35484c2.20023 0 3.98388 1.7775 3.98388 3.97019 0 .9809-.79795 1.7761-1.78227 1.7761H2.62097c-.98432 0-1.78226-.7952-1.78226-1.7761z' fill='%23fff'/%3E%3C/svg%3E");
    }
}