.footer {
    min-height: 300px;
    background-color: #000;

    .container {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .navbar-brand {
        display: inline-block;
        margin-bottom: 1.75rem;
    }

    &__address {
        font-family: 'Cera Pro', sans-serif;
        font-size: .625rem;
        font-weight: 500;
        line-height: 1rem;
        color: #5F5A82;

        p {
            margin-bottom: .25rem;
        }

        &-contact {
            margin-top: 1.25rem;

            a {
                display: block;
                width: fit-content;
                margin-bottom: .25rem;
                text-decoration: none;
                color: #5F5A82;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
    }

    &__social {
        display: flex;
        align-items: center;

        a {
            display: flex;
            text-decoration: none;
            -webkit-filter: drop-shadow(0 2px 6px #9F8E12);
            filter: drop-shadow(0 2px 6px #9F8E12);

            svg {
                transition: .15s ease-in-out;
            }

            &:hover {

                svg {
                    -webkit-filter: drop-shadow(0 0 8px $yellow);
                    filter: drop-shadow(0 0 8px $yellow);
                }
            }

            + a {
                margin-left: 1.5rem;
            }
        }
    }

    .list-unstyled {

        li {

            a {
                display: inline-flex;
                padding: .625rem 0;
                text-decoration: none;
                color: #FFF;
                text-shadow: 0 2px 12px #FFF;

                &:hover {
                    color: $yellow;
                    text-shadow: 0 2px 12px $yellow;
                }
            }
        }
    }
}