.team-info .date-finish
{
    text-align: center;
    margin-bottom: 20px;
}
.team-info .buttons
{
    text-align: center;
    margin-bottom: 20px;
}
.team-info .buttons .extend
{
    width: 200px;
}
.team-info .buttons .conditions
{
    font-size: 14px;
    display: block;
}